body {
  margin: 0;
  min-height: 100vh;
  /* max-width: 100%; */
  background-image: url("../img/backgound-home.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 176px);
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.row {
  flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}

.bg-navbar {
  background-color: rgba(3, 3, 4, 0.665);
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.navbar-brand img {
  max-height: 50px;
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
}

.footer-link {
  text-decoration: none;
}
/* @media screen and (min-width: 1024px) {
    .btn-iniciar-sesion {
      display: flex;
      justify-content: end;
    }
  } */

.carousel-item {
  width: 100%;
aspect-ratio: 4/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

#movieCarousel {
  height: fit-content;
  & img {
    border-radius: 10px;
    animation: animacionCarousel 0.5s;
    &:hover {
      transform: scale(1.05);
      border: solid 2px #fff;
      cursor: pointer;
      animation: animacionHover 0.5s;
    }
  }
}

#categorias {
  & .card {
    background-color: #0f131b;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 25px 30px -10px;
    &:hover {
      transform: scale(1.05);
      border: solid 2px #fff;
      cursor: pointer;
      animation: animacionHover 0.5s;
    }
  }
}

.carouselDestacadas {
  margin-bottom: 40px;
}

@keyframes animacionCarousel {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animacionHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}
